# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Database
scanner.db
*.db

# PDF reports
scan_report.pdf

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# ngrok
ngrok.exe
